<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kbrent.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Family Map"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ActivityClasses.MapActivity" ></activity>
        <activity android:name=".ActivityClasses.PersonActivity" ></activity>
        <activity android:name=".ActivityClasses.SearchActivity" ></activity>
        <activity android:name=".ActivityClasses.SettingsActivity" ></activity>
        <activity android:name=".ActivityClasses.FilterActivity" ></activity>
        <activity
            android:name=".ActivityClasses.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDPHCLUJ-_fZUKXR-vLFMQQclTUuO4oLUQ"/>

    </application>

</manifest>